.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
header {
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--log-navbar-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    z-index: 1000;
}


/* nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
} */

nav {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin: 0 10px;
}

.search-box {
  position: relative;
  display: flex;
  height: 35px;
}
.search-box--search {
  /* position: absolute; */
  right: 0;
  /* height: 35px; */
  height: 100%;
  /* width: 35px; */
  flex: 5;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  background-color: white;
  outline: 1px solid rgb(182, 182, 182);
}
.search-box--search:hover {
  /* background-color: var(--log-blue-alpha); */
  background-color: rgb(24, 144, 195);
  /* color: var(--log-blue); */
  color:rgb(31, 31, 31);
}
.search-box--input {
  /* height: 35px; */
  flex: 95;
  /* width: 100%; */
  border-radius: 5px 0px 0px 5px;
  outline: none;
  border: none;
  padding: 10px;
  line-height: 30px;
  font-size: 18px;
  color: rgb(31, 31, 31);
  margin: 0 1px;
  outline: 1px solid rgb(182, 182, 182);
}
.search-box--input:hover {
  outline: 1px solid rgb(92, 92, 92);
}
.search-box--input:focus {
  outline: 2px solid blue;
}
.acc{
  height: 100%;
  grid-column: 4/ span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user{
}
.user > span{
  text-align: center;
  height: 100%;
  color: var(--log-navbar_user_color);
  cursor: pointer;
}


.auth-btns{
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.acc--create {
  color: var(--log-blue);
  border: 1px solid var(--log-blue);
  border-radius: 5px;
}
.acc--login{
}

.acc--create:hover {
  color: white;
  text-decoration: underline;
  background: var(--log-blue);
}

.acc--login:hover {
  text-decoration: underline;
  color: var(--log-blue);
  background: var(--log-blue-alpha);
  border-radius: 5px;
}

/* .usser--details{ position: absolute;
  height: 200px;
  background-color: white;
  width: 150px;
  right: 0px;
  top: 80px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}
.user--name{
  text-transform: capitalize;
  color: var(--log-navbar-user-name-color);
} */
.theme-btn{
grid-column: 3;
}
.theme--changer{
  background-color: white;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
.theme--changer:active{
  background-color: black;
}