.logo {
  width: 70px;
  height: 50px;
  cursor: pointer;
}
header {
  background: white;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.search-box {
  position: relative;
}
.search-box--search {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 0px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.search-box--search:hover {
  background-color: var(--log-blue-alpha);
  color: var(--log-blue);
}
.search-box--input {
  height: 35px;
  width: 400px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  line-height: 30px;
  font-size: 18px;
  color: rgb(31, 31, 31);
  outline: 1px solid rgb(182, 182, 182);
}
.search-box--input:hover {
  outline: 1px solid rgb(92, 92, 92);
}
.search-box--input:focus {
  outline: 2px solid blue;
}

.acc > * {
  margin: 20px;
  padding: 7px;
  cursor: pointer;
}

.acc--create {
  color: var(--log-blue);
  border: 1px solid var(--log-blue);
  border-radius: 5px;
}

.acc--create:hover {
  color: white;
  text-decoration: underline;
  background: var(--log-blue);
}

.acc--login:hover {
  text-decoration: underline;
  color: var(--log-blue);
  background: var(--log-blue-alpha);
  border-radius: 5px;
}

.user--details{
  position: absolute;
  height: 200px;
  background-color: white;
  width: 150px;
  right: 0px;
  top: 80px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;

}
.acc--logout{
  align-self: flex-end;
  padding: 10px;
  border-radius: 5px;
}
.acc--logout:hover{

  background-color: blue;
  color: white;
}