.post-options {
  display: flex;
  justify-content: space-between;
}

.post-attr > * {
  display: inline-block;
  margin-right: 20px;
  color: var(--log-homepage-post-options-text-color);
  transition: color 0.1s;
  transition-timing-function: linear;
  cursor: pointer;
}

.post-attr > *:hover {
  color: var(--log-homepage-post-options-hover-text-color);

}
.post--likes > * {
  margin-right: 5px;
}
.post--comments > * {
  margin-right: 5px;
}

.post-attr > * > * {
  display: inline-block;
}

.post-actions--save {
  background-color: var(--log-homepage-post-options-save-background-color);
  color: rgb(51, 51, 51);
  color: var(--log-homepage-post-options-save-text-color);
  padding: 7px 10px;
  border-radius: 5px;
  transition: background-color 0.1s, color 0.1s;
  transition-timing-function: linear;
  cursor: pointer;
}
.post-actions--save:hover {
  background-color: rgba(103, 105, 105, 0.4);
  background-color: var(--log-homepage-post-options-save-hover-background-color) ;
  color: rgb(17, 17, 17);
  color: var(--log-homepage-post-options-save-hover-text-color);
}

.like--filled{
  color: red;
}