* {
  box-sizing: border-box;
}
.card > * {
  margin: 0;
  padding: 0;
}
.card {
  width: 90%;
  height: 95%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  display: flex;
  overflow: hidden;
}

.art {
  flex: 1.3;
  overflow: hidden;
  position: relative;
}
.art-logo {
  color: rgb(255, 255, 255);
  font-size: 100px;
}
.sub-text {
  color: white;
}
.buttons {
}
.btn {
  width: 80px;
  height: 20px;
  color: white;
  background-color: rgb(230, 66, 66);
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgb(192, 50, 50);
}
.art-fg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form {
  /* background-color: blue; */
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 10px;
  position: relative;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.art-logo-optional {
  position: absolute;
  right: 0px;
  top: 0px;
  letter-spacing: 20px;
  background-color: var(--field-main-color);
  color: white;
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
  display: none;
}
@media screen and (max-width: 700px) {
  .art {
    display: none;
  }
  .art-logo-optional {
    display: block;
  }
}
