:root {
  --log-blue: rgb(57, 148, 201);
  --log-blue-alpha: rgba(57, 148, 201, 0.3);
  --log-navbar-color: rgb(255, 255, 255);
  --log-fade-black: rgb(31, 31, 31);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  list-style: none;
}
